<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <main>
    <h1>About</h1>
    <div id="info">
      <span>Developed by: Autumn Ripczinski</span>
      <p>
        Check out the GitHub page
        <a href="https://github.com/it-sd/sqc-project-Lucidus115">here</a>
      </p>
    </div>
    <p>
      AudialCat Studio is a web-based music maker application 
      allowing users to import audio samples and use them to 
      create new sounds. You can search for audio or even import your own sounds.
      All you have to do is drag your audio samples on the timeline and start
      arranging them. 
    </p>
  </main>
<%- include('shared/footer'); -%>
