<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <div id="menu-bar">
    <!--TODO Implement [File, Edit, View, Settings, Help]-->
  </div>
  <main>
    <section id="sound-list">
      <h2>My Sounds</h2>
      <button id="rand-sound">Random Sound</button>
      <span class="error-msg" id="sound-feedback"></span>
        
    </section>

    <div id="timeline">
        
    </div>
  </main>
  <script>

const baseUrl = 'http://localhost:5163'
const btn = document.getElementById('rand-sound')
const msg = document.getElementById('sound-feedback')

const retrieveSound = async function () {
  const soundId = Math.round(Math.random() * 10000)
  const url = new URL('/audio-search', baseUrl)
  const res = await fetch(url, {
    method: 'POST',
    body: JSON.stringify({ soundId: soundId }),
    headers: { 'Content-Type': 'application/json' }
  })

  const result = await res.json()

  if (result.sound === undefined) {
    msg.innerHTML = 'Error: A problem occured finding a sound'
  }

  const audio = new Audio(result.sound.preview)
  audio.play()
}

btn.addEventListener('click', (e) => retrieveSound())
  </script>
<%- include('shared/footer'); -%>
