<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <div id="menu-bar">
    <!--TODO Implement [File, Edit, View, Settings, Help]-->
  </div>
  <main>
    <section id="sound-list">
      <h2>My Sounds</h2>
      <button id="rand-sound">Random Sound</button>
        
    </section>

    <div id="timeline">
        
    </div>
  </main>
  <script>
    
const btn = document.getElementById('rand-sound')

const retrieveSound = function () {
  console.log("Epiccc")
}

btn.addEventListener('click', (e) => retrieveSound())
  </script>
<%- include('shared/footer'); -%>
