<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <div id="menu-bar">
    <!--TODO Implement [File, Edit, View, Settings, Help]-->
  </div>
  <main>
    <section id="sound-list">
      <h2>My Sounds</h2>
        
    </section>

    <div id="timeline">
        
    </div>
  </main>
<%- include('shared/footer'); -%>
