<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <div id="menu-bar">
    <!--TODO Implement [File, Edit, View, Settings, Help]-->
  </div>
  <main>
    <h1>Hi</h1>
  </main>
<%- include('shared/footer'); -%>
