<header>

<div id="top-nav">
  <a id="nav-icon" onclick="toggleNav()">
    <img src="hamburger-icon.png" alt="navigation menu">
  </a>
  <ul>
    <li><a href="">Account</a></li>
  </ul> 
</div>

<div id="side-nav" style="display: block;">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="">Contact</a></li>
    </ul> 
  <footer>&copy;2023 Autumm Ripczinski</footer>
  </nav>
</div>

</header>