<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <main>
    <h2>Welcome to AudialCat Studio!</h2>
    <p>
      Ever wanted a quick and easy sound editor with free to use
      sounds? Well now you can! Be sure to create an <a href="account">account</a> so you can
      create and have your projects save.
    </p>
  </main>
<%- include('shared/footer'); -%>
