<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <main>
    <h1>Sign-In</h1>

    <form id="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username">
      <label for="password">Password:</label>
      <input type="password" id="password">
      <button type="submit">Submit</button>
    </form>
  </main>
  <script>
    const form = document.getElementById('login-form')
    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      const values = form.querySelectorAll('input')
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({
          username: values[0].value,
          password: values[1].value
        }),
        headers: { 'Content-Type': 'application/json' }
      })

      const result = await res.json()
      if (!result.success) {
        console.log('AIEEEE. Account does not exist')
        return
      }

      window.location.replace('/account')
    })
  </script>
<%- include('shared/footer'); -%>
