:root {
  --bg-color: #111;
  --text-color: #fefefe;
  --nav-color: #333;
}

html {
  color: var(--text-color);
  background-color: var(--bg-color); 
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

main, footer {
  padding: 2em;
}

.top-nav a, nav a {
  text-decoration: none;
}

.top-nav > ul, nav > ul {
  list-style-type: none;
}

.top-nav {
  align-items: stretch;
  background-color: var(--nav-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.top-nav > ul {
  display: flex;
  margin: 0;
}

.top-nav a {
  display: block;
  padding: 1em;
}

header {
  background-color: var(--nav-color);
  height: 100%;
  position: absolute;
}

#nav-icon {
  display: block;
  left: 1em;
  position: absolute;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  width: 100px;
  margin: auto;
}

a {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}


a:hover {
  color: #e29e37
}